.navToDo {
    display: flex;
    width: 70%;
    /* background-color: aliceblue; */
    height: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ntd-link {
    text-decoration: none;
    transition: 0.7s;
}

.locStyle {
    text-decoration: underline;
}