.navToDo {
    display: flex;
    width: 70%;
    /* background-color: aliceblue; */
    height: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ntd-link {
    text-decoration: none;
    border-radius: 5px;
    min-width: 40%;
    text-align: center;
    background-color: rgba(247, 246, 245, 0.392);
    padding: 5px;
    font-weight: bold;
    font-family: 'Aclonica', sans-serif;
    color: #000000;
    transition: 0.5s 0.05s;
}

.locStyle {
    border-bottom: solid 2px #7c2ae8b3;
}