.App {
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: linear-gradient(to left top, #7c2ae8, #23ffde);
  /* background-image: linear-gradient(to left top, #23ffde, #00dfff, #00b7ff, #0084ff, #7c2ae8); */
}

